    .rating {
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        gap: 5px;
    }

    .rating input[type="radio"] {
        display: none;
    }

    .rating label {
        font-size: 2rem;
        cursor: pointer;
        color: #ccc;
    }

    .rating input[type="radio"]:checked ~ label {
        color: gold;
    }

    .rating input[type="radio"]:checked + label {
        color: gold;
    }
